$gray: #1F1F1F;
$red: #E4494A;
$full: 'Lack';
$line: 'Lack Line';

@mixin wave($height, $name){
    content: '';
    display: block;
    position: absolute;
    top: 0.2vw - $height;
    height: $height;
    width: 100vw;
    background-size: cover;
    z-index: 100;
    background-image: url($name);
}

@keyframes main{
    0%{transform: rotate(0deg)}
    30%{transform: rotate(-75deg)}
    60%{transform: rotate(30deg)}
    100%{transform: rotate(0deg)}
}

*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body{
    background-color: $gray;
    color: $red;
    text-align: center;
    overflow-x: hidden;
    width: 100vw;
    font-feature-settings: "liga" 0;
}


h1, h3, ul{
    font-family: $line;
}

h2, p, dl{
    font-family: $full;
}

h1{
    font-size: 5vmax;
    width: 50vw;
}
p, ul, dl{
    font-size: 3vmax;
}
h3{
    font-size: 3.35vmax;
}
p{
    width: 80vw;
    margin: 0 auto;
}
h1, p{
   padding-top: 10vh;
}

section{
    width: 100vw;
    min-height: 100vh;
    position: relative;

    &:nth-of-type(odd){
        background-color: $red;
        color: $gray;
    }
    &:first-child{
        background-color: $gray;
        color: $red;
    }
    &#goals::before{
    @include wave(7.55vw, 'svg/up01.svg');
    }
    &#tech::before{
    @include wave(19.55vw, 'svg/up02.svg');
    }
    &#projects::before{
        @include wave(7.75vw, 'svg/up03.svg');
        height: 14.44vw;
    }
    &#contact::before{
        @include wave(7.55vw, 'svg/up01.svg');
        transform: rotate(180deg);
        top: -0.20vw;
    }
    &#contact{
        padding-top: 10vh;
        min-height: 90vh;
        overflow: hidden;
        a:hover{
            text-decoration: underline;
        }
    }
    &#contact::after{
        @include wave(7.55vw, 'svg/up01.svg');
        top: initial;
        bottom: -0.20vw;
    }
    &#projects{
        padding-bottom: 10vh;
    }


}


div#title{
    width: 50vw;
    float: right;
    position: relative;
    z-index: 10;
    h1{
        font-size: 8vmax;
        width: auto;
    }
    h2{
        font-size: 4.4vmax;
        font-style: italic;
    }
    h1, h2{
        margin-top: 13vmin;
        text-align: left;
        padding-left: 10vw;
    }


}

div#marble{
    float: left;
    width: 50vw;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    img{
        height: 100vh;
        
    }
  }

    div.works{
        display: grid;
        width: 90vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
        padding: 5vw;
        padding-bottom: 8vw;
        padding-top: 8vw;
        background: url(svg/work02.svg) no-repeat center;
        background-size: 90% 120%;
        img{
            grid-column: 1;
            width: 50vw;
            margin-left: 4vw;
        }
        p{
            font-size: 2.15vmax;
            margin-top: 2.5vw;
            margin-bottom: 2.5vw;
            padding-top: 0;
            width: inherit;
        }

        &:nth-of-type(even){
            left: initial;
            right: 0;
            background-image: url(svg/work01.svg);
            img{
                grid-column: 2;
                margin-left: initial;
            }
            .workDesc{
                grid-column: 1;
                margin-left: 2vw;
            }
        }
    }
div.workDesc{
    grid-column: 2;
    width: 30vw;
    h3, p{
        color: $red;
    }
}
#tech{
  ul{
    padding: 5vw;
    width: 85vw;
    margin: 0 auto;
      li{
        display: inline;

        &:nth-of-type(2n){
            font-family: $full;
        }
      }
  }
}

  dl{
    padding: 5vw;
    width: 85vw;
      dt{
        display: block;
        width: 30%;
        float: left;
        text-align: right;
      }
      dd{
        display: block;
        font-style: italic;
        width: 70%;
        float: right;
        text-align: left;
        font-feature-settings: "ss01" 1;
      }
  }

  img.blob{
      position: absolute;
      z-index: 100;
      &#central{
          height: 80vh;
          width: auto;
          z-index: 1;
          top: 10vh;
          left: 30vw;
          margin: 0 auto;
          animation: main 5s infinite;
      }
      &#r01{
          right: -15vmin;
          top: -15vmin;
          height: 35vmin;
          width: auto;
      }
      &#r02{
        left: -10vmin;
        top: 25vmin;
        height: 25vmin;
        width: auto;
    }
    &#r03{
        right: -5vmin;
        bottom: 20vmin;
        height: 25vmin;
        width: auto;
    }

    &#floating{
        position: relative;
        right: -5vmin;
        bottom: 0;
        height: 20vmin;
        width: auto;
    }
    &#last{
        height: 100vh;
        width: auto;
        z-index: -1;
        left: -40vmin;
        bottom: -10vmin;
        margin: 0 auto;
        transform: rotate(270deg);
    }
    &#w01{
        left: -10vmin;
        top: -10vmin;
        height: 35vmin;
        width: auto;
    }

  }

  a.link{
      font-family: $full;
      background-color: $red;
      color: $gray;
      font-size: 1.5vw;
      padding: 0.45vw;
      border: 0.3vw solid $red;
      border-radius: 1.5vw;
      &:hover{
          color: $red;
          background-color: $gray;
      }
  }

  footer{
      background-color: $red;
      color: $gray;
      font-family: $full;
      font-feature-settings: "ss01" 1;
      font-size: 1.5vmax;

      &::first-letter{
        font-feature-settings: "ss02" 1;
      }
  }

nav{
      position: fixed;
      top: 2vh;
      right: -26vw;
      min-width: 28.5vw;
      text-align: right;
      z-index: 200;
      mix-blend-mode: difference;
      
      li{
        list-style: none;
        background: $red;
        font-family: $full;
        position: relative;
        right: 0vw;
        padding-right: 0vw;
        margin-left: 0;
        margin-bottom: 0.75vw;
        padding-left: 1vw;
        transition-duration: 1s;
        -webkit-transition-duration: 1s;
        border-radius: 2vw;
      }
      li:hover, li:focus{
          text-align: right;
          right: 26vw;
        padding-right: 2vw;
        background: none;
        
      }

}

:link, :visited{
    text-decoration: none;
    color: inherit;
}